body {
	background-image: url("old_paper.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: justify;
}

P { 
	font-family: Georgia;
	margin: 15%;
	text-indent: 1em;
    margin-top: .5em;
    margin-bottom: .5em; 
}

H1,H2,H3,H4,H5,H6 { 
	text-align: center;
	font-family: "Lucida Bright";
}

pre {
	font-style: italic;
	font-size: 90%;
	margin-left: 10%;
}

a:link {
	color: #0000FF;
}

a:visited {
	color: #551a8b;
}

a:hover {
	color: #FF0000;
	text-decoration: underline;
}

div.fig{
	display: block;
	margin: 0 auto;
	text-align: center;
}

div.fig img {
	max-width: 700px;
	max-height: 700px;
}

TABLE.bold { 
	font-weight: bold; }